#hitmarker-widget {
	color: #121212;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: normal;
	
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#hitmarker-widget img {
	vertical-align: middle;
}
#hitmarker-widget a {
	color: currentColor;
	text-decoration: none;
}
#hitmarker-widget {
	border: 1px solid #e0e0e0;
	background-color: white;
}
#hitmarker-widget .title {
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	padding: 16px;
}
#hitmarker-widget .job {
	border-top: 1px solid #e0e0e0;
	padding: 16px;

	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#hitmarker-widget .job:hover,
#hitmarker-widget .job:focus {
	color: #ff6810;
}
#hitmarker-widget .logo {
	margin-right: 16px;

	-webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
#hitmarker-widget .logo > img {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}
#hitmarker-widget .info {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;
}
#hitmarker-widget .company {
	font-weight: bold;
}
#hitmarker-widget .role {
	font-weight: bold;
}

#hitmarker-widget .footer {
	border-top: 1px solid #e0e0e0;
	padding: 16px;
	text-align: right;
}
#hitmarker-widget .footer a {
	color: #ff6810;
}
